[submodule "Evenity"]
	path = Evenity
	url = https://github.com/PhosRunia28/Evenity
[submodule "Destinize"]
	path = Destinize
	url = https://github.com/PhosRunia28/Destinize
[submodule "TheStarter"]
	path = TheStarter
	url = https://github.com/PhosRunia28/The-Starter
[submodule "Suxz"]
	path = Suxz
	url = https://github.com/PhosRunia28/Suxz
[submodule "Bubble-Bash"]
	path = Bubble-Bash
	url = https://github.com/PhosRunia28/Bubble-Bash
[submodule "MSTSKP"]
	path = MSTSKP
	url = https://github.com/PhosRunia28/MSTSKP
