[submodule "Evenity"]
	path = Evenity
	url = https://github.com/PhosRunia28/Evenity
[submodule "Destinize"]
	path = Destinize
	url = https://github.com/PhosRunia28/Destinize
[submodule "TheStarter"]
	path = TheStarter
	url = https://github.com/PhosRunia28/The-Starter
[submodule "Suxz"]
	path = Suxz
	url = https://github.com/PhosRunia28/Suxz
